.dropdown-menu{
    height: 100vh;
    background-color: transparent !important;

}
.dropdown-item {
    color: rgb(5, 222, 255) !important;
}
.btn{
    border-radius: 0px !important;
}
.notice{
    background-color: rgba(255, 255, 255, 0.64);
    height: 200px;
    width: 200px;
    margin-top: 50px;

}

.three{
    gap: 50px;
    padding: 10px;
}
.N{
    text-align: center;
}

.box{
    padding: 10px;
}
ul{
    list-style: none;
    width: fit-content;
}